<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
</head>
<body>
    <h1>Write your New Blog Here!</h1>
    <form method="post" action="/posts">
        username
    <input type="text" placeholder="Enter Username" name="username">
    <br>

    content
    <br>
    <textarea id="blog" cols="30" rows="10" placeholder="Enter Your Blog Content" name="content"></textarea>
    <button>Sumbit</button>
    </form>
</body>
</html>